body {
	font-family: sans-serif;
}

main {
	max-width: 100%;
}

.unavailable {
	background-color: #0d6efd;
	height: 50%;
}

/* table styling */
table {
	border-collapse: collapse;
	margin: 0 auto;
	overflow: clip;
}

table th:first-child {
	top: -50px;
	left: 0;
	text-align: right;
	padding: 0 10px;
	font-weight: normal;
}

tbody > tr:hover { /* for row hover selection */
	background-color: #9ec5fe;
}

tr {
	height: 30px;
}

td {
	position: relative;
	min-width: 30px;
	background-color: rgba(200, 200, 200, 0.4);
	height: inherit;
	padding: 0;
}

td:hover::after { /* for column hover selection */
	content: "";
	position: absolute;
	background-color: #9ec5fe;
	left: 0;
	top: -5000px;
	height: 10000px;
	width: 100%;
	z-index: -1;
}

th {
	position: sticky;
	top: 0;
	background-color: white;
	z-index: 100;
}

th > small {
	color: #888;
}
